<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="Android Test">
        <parameter name="platformName" value="Android"></parameter>
        <parameter name="platformVersion" value="11"></parameter>
        <parameter name="deviceName" value="any"></parameter>
        <classes>
            <class name="OnboardingTestCases"/>
            <!--           <class name="LoginTestCases">-->
            <!--&lt;!&ndash;                <methods>&ndash;&gt;-->
            <!--&lt;!&ndash;                    <include name="LoginwithRegisteredPhoneNumber"/>&ndash;&gt;-->
            <!--&lt;!&ndash;                </methods>&ndash;&gt;-->
            <!--            </class>-->
        </classes>
    </test>
<!--    <test name="iOS Test">-->
<!--        <parameter name="platformName" value="iOS"></parameter>-->
<!--        <parameter name="platformVersion" value="16"></parameter>-->
<!--        <parameter name="deviceName" value="iPhone 14 Pro Max"></parameter>-->
<!--        <classes>-->
<!--            <class name="OnboardingTestCases"/>-->
<!--                            <class name="LoginTestCases">-->
<!--&lt;!&ndash;                                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                              <include name="LoginwithRegisteredPhoneNumber"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                </methods>&ndash;&gt;-->
<!--                            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>